#s-c8fc1480-80ef-4369-ba4f-f512c653073a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-Image_1 {
  position: absolute;
  top: -137px;
  left: -573px;
  width: 3000px;
  height: 2128px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-Image_2 {
  position: absolute;
  top: 551px;
  left: 399px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales {
  position: absolute;
  top: 551px;
  left: 448px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  display: none;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Grid_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Grid_cell_1 .verticalalign {
  vertical-align: top;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Grid_cell_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_1 {
  position: absolute;
  top: 10px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Input_1 {
  position: absolute;
  top: 26px;
  left: 15px;
  width: 110px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_2 {
  position: absolute;
  top: 48px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Input_2 {
  position: absolute;
  top: 64px;
  left: 15px;
  width: 110px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_3 {
  position: absolute;
  top: 86px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Input_3 {
  position: absolute;
  top: 102px;
  left: 15px;
  width: 110px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a #s-nationalSales .s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c8fc1480-80ef-4369-ba4f-f512c653073a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}